@import url('mixins.less');

@lightgray: #ededed;
@darkgray: #333;

body, label, .checkbox label {
	font-weight: 400;
}

a{
	.transition(all, .2s);
}

header{
	max-width: 100%;

	ul a:hover{
		background-color: #555 !important;
	}

}

.center{
	width: 100%;
	padding: 0 20px;
	max-width: 1160px;
	margin: 0 auto;
}

article{
	padding: 30px 0;

	&.list{

		&:nth-of-type(2n){
			background-color: @lightgray;
		}

		h1 a{
			color: @darkgray;
		}

	}

	header{

		h1{

			small{
				font-size: 16px;
				margin-top: 20px;
			}

		}

	}

}

.pagination{
	width: auto;
	float: left;
	position: relative;
	left: 50%;
	margin-top: 15px;

	li{
		float: left;
		position: relative;
		left: -50%;
		
		&.disabled{
			display: none;
		}

		a, span{
			width: 30px;
			padding: 5px !important;
			display: block;
			text-align: center;
			border-radius: 4px;
		}

		&.active span{
			background-color: @lightgray;
		}

		a:hover{
			background-color: @lightgray !important;
		}

	}

}

footer.site-footer{
	padding: 30px 0;
	background-color: @darkgray;

	p{
		color: #fff;
		text-align: center;
		line-height: 30px;
		margin-bottom: 0;
		font-size: 10px;
		font-weight: 300;
	}

}

form{

	input[type=submit]{
		margin-top: 20px;
	}

}

section.comments{
	padding: 40px 0;
	background: @lightgray;
}

.dash, .login, .register, .error{
	padding: 40px 0;
}

.error {

	span.warning{
		width: 100%;
		display: block;
		text-align: center;
		font-size: 200px;
		color: red;
		line-height: 1em;
	}

	h1, p{
		text-align: center;
	}

}

h1.page-headline{
	text-align: center;
	padding: 20px 20px;
	font-weight: 900;
	background-color: lighten(@lightgray, 2%);
}